
// @import './variables';
// @import './_header';
@use  './variables' as var;

header {
  height: 100vh;
  color: var.$textColor;
  background-color: lightblue;
  button {
    background: var.$primaryBtn;  
  }
}

.contact  {
  @extend header;
  background-color: aliceblue;
  width: 100% - 20%
}

