.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh
}

.example-container {
  /* height: 90% */
  flex: 1;
}

.example-sidenav-content {
  /* display: flex; */
  height: 99%;
  width: 98%;
  padding: 1%;
  background-color: oldlace;
}

mat-drawer {
  width: 20%;
  background-color: #fafafa;
}

.activeRouter {
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue
}

