<div class="app-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <mat-toolbar-row class="mat-elevation-z3">
      <h2 class="title" style="text-align: center;">Angular Animation 데모</h2>
      <button mat-icon-button class="example-icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
    <!-- <mat-toolbar-row>
      Level2
    </mat-toolbar-row> -->
  </mat-toolbar>


  <mat-drawer-container class="example-container" >
    <mat-drawer #drawer class="example-sidenav" opened mode="side">

      <mat-nav-list>
        <ng-template ngFor let-item [ngForOf]="navs" let-i="index" >
          <ng-container *ngIf="!item.hasChilren; else hasChilren">
            <a class="menu-content" mat-list-item [routerLink]="[item.url]" routerLinkActive="activeRouter">
              <span class="label">{{item.label}}</span>
            </a>
          </ng-container>
          <ng-template #hasChilren >
          <mat-expansion-panel [expanded]="item.panelOpenState" (opened)="item.panelOpenState = true"
            (closed)="item.panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{item.label}}
              </mat-panel-title>
            </mat-expansion-panel-header>
              <a *ngFor="let child of item.children" mat-list-item class="menu-content" [routerLink]="item.url +child.url" routerLinkActive="activeRouter" >
                <span class="label">{{child.label}}</span>
              </a>
          </mat-expansion-panel>
          </ng-template>
        </ng-template>
      </mat-nav-list>
    </mat-drawer>

    <div class="example-sidenav-content" [@routeAnimation]="prepareRoute(outlet)">


      <router-outlet #outlet="outlet"></router-outlet>

    </div>

  </mat-drawer-container>

</div>
